body{
    text-align: center;
    background-color: #222;
    color: #fff;
    font-family: sans-serif;
    padding: 20px;
    /* display: flex;
    justify-content: center;
    align-content: center; */
}


input, button{
    padding: 7px;
    border-radius: 20px;
}
input{
    margin-right: 10px;
}

#result{
    margin-top: 20px;
    border: 1px solid #555;
    box-shadow: 0px 0px 10px silver;
}